{% extends "base.html" %}
{% block nav_blog %}class="active"{% endblock %}
{% block mainbar %}
for all the latest posts
	<div class="article">
		<h2><span>A Blog</span> Entry</h2>
		<div class="clr"></div>
		<p>Posted by <a href="#">Owner</a> <span>&nbsp;&bull;&nbsp;</span> Fil    ed under <a href="#">templates</a>, <a href="#">internet</a></p>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec lib    ero. Suspendisse bibendum. Cras id urna.</p>
		 47           <p>Tagged: <a href="#">orci</a>, <a href="#">lectus</a>, <a href="#">v    arius</a>, <a href="#">turpis</a></p>
		 <p><a href="#"><strong>Comments (3)</strong></a> <span>&nbsp;&bull;&nb    sp;</span> May 27, 2015 <span>&nbsp;&bull;&nbsp;</span> <a href="#"><strong>Edit    </strong></a></p>
	</div>
{% endblock %}
